<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="toolbar" role="banner">
  
    <div class="spacer"></div>
    <h2>MyStore</h2>
         
    <a routerLink="" style="margin: 10px;color:#eff3f6;">Product List</a> |  <a routerLink="Cart" style="margin: 10px;color:#eff3f6;">cart</a>
     
    
      <div class="spacer"></div>
      <a aria-label="Angular on facebook" target="_blank" rel="noopener" href="https://www.linkedin.com/in/ahmed-salah-developer/" title="My linkedin Account">
        <i class="fa fa-linkedin-square" style="font-size:36px;color:red"></i>
      </a> 
      
  
  </div>